* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* colors */
    --bg-black1: #0B090A;
    --bg-black2-footer: #161A1D;
    --fc-white1: #FFFFFF;
    --fc-white2-footer: #FFFAF1;
    --bg-white2-cards-location: #F5F3F4;
    --bg-white3-button-hover: #D9D9D9;
    --fc-red1-h4: #E5383B;
    --bg-red2-button: #BA181B;
    --bg-red3-button-hover: #941B1D;
}

body, button {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}

.page {
    width: 36rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.info-header {
    background: var(--bg-black1);
    color: var(--fc-white1);
    padding: 2rem;
    height: 8.4rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 2rem;
    font-weight: 400;
}

header button {
    background-color: var(--bg-black1);
    color: var(--fc-white1);
    border: 2px solid #FFFFFF;
    font-size: 1.4rem;
    letter-spacing: 0.005em;

    width: 9rem;
}

header button:hover {
    color: var(--bg-white3-button-hover);
    border-color: var(--bg-white3-button-hover);
    cursor: pointer;
}

.hero {
    background-color: var(--bg-black1);
    color: var(--fc-white1);
    width: 32rem;
    padding: 2rem;

    margin-bottom: 4.8rem;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.6rem;
}

.hero-text p {
    color: var(--bg-white2-cards-location);
    margin-bottom: 3.2rem;
}

.hero-text button {
    background-color: var(--bg-red2-button);
    color: var(--fc-white1);
    padding: 2rem 4rem;
    width: 100%;
    border: none;

    font-weight: 700;
    letter-spacing: 0.005em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin-bottom: 4.8rem;
}

.hero button:hover {
    background-color: var(--bg-red3-button-hover);
    cursor: pointer;
}

.hero-img img, .services img {
    width: 100%;
    height: auto;
}

.services {
    width: 32rem;
    padding: 0 2rem;
    margin-bottom: 4.8rem;
}

.services-text h4 {
    color: var(--fc-red1-h4);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;

    margin-bottom: 1.6rem;
}

.services-text h2 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;
    color: var(--bg-black1);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    margin-bottom: 4.8rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.card {
    border: 2px solid #D3D3D3;
    transition: transform 200ms;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 40px #00000056;
}

.card-text {
    background-color: var(--bg-white2-cards-location);
    padding: 3.2rem;
}

.card-text h3 {
    color: var(--bg-black1);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;

    margin-bottom: .8rem;
}

.card-text p {
    color: var(--bg-black2-footer);
    line-height: 2.4rem;
}

.location {
    background-color: var(--bg-white2-cards-location);
}

.location-text {
    width: 32rem;
    padding: 2rem;
}

.location-text h4 {
    color: var(--fc-red1-h4);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;

    margin-bottom: 1.6rem;
}

.location-text h2 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    margin-bottom: 2.4rem;
}

.location-text p {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.info-footer {
    background: var(--bg-black2-footer);
    color: var(--fc-white1);
    padding: 4.8rem 0 0 2rem;
    height: 27rem;
}

footer h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 5.6rem;

    margin-bottom: 1rem;
}

footer p {
    color: var(--fc-white2-footer);
    font-size: 1.6rem;
    line-height: 2.4rem;

    margin-bottom: 2.8rem;
}

@media (min-width: 400px) {

    .page,
    .info-header,
    .hero,
    .services {
        width: 42.4rem;
        margin: 0 auto;
    }

    header button {
        padding: 1rem;
        width: 17.6rem;
    }
}

@media (min-width: 900px) {

    .page,
    .info-header,
    .hero,
    .services {
        width: 100%;
    }

    .page {
        padding: 0;
    }

    .info-header {
        padding: 2.4rem 7.2rem;
        height: 9.6rem;
    }

    header h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    header,
    main,
    .services,
    .location-text,
    footer {
        max-width: 128rem;
        margin: 0 auto;
        padding: 0 7.2rem;
    }

    main {
        display: grid;
        grid-template-areas: "A B";

        padding: 0 7.2rem;
        max-width: 128rem;
        margin: 0 auto;
    }

    .cards {
        display: flex;
        flex-direction: row;
    }

    .hero {
        padding: 0 2rem;
    }

    .hero-text {
        width: 55rem;
        margin-top: 9.6rem;
    }

    .hero-text h1 {
        font-size: 5.6rem;
        line-height: 6.4rem;
    }
    
    .hero-text p {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .hero-text button {
        margin-left: 0;
        width: 32rem;
    }

    .hero-img {
        margin-top: 2.4rem;
        display: flex;
        align-items: center;
    }

    .services-text h4 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 9.6rem;
    }

    .services-text h2 {
        font-size: 4.4rem;
        line-height: 5.6rem;
    }
    
    .location-text {
        width: 113rem;
        margin-top: 9.6rem;
        padding: 9.6rem 0 4.8rem;
    }

    .location-text h4 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .location-text h2 {
        font-size: 4.4rem;
        line-height: 5.6rem;
    }

    .location-text p {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    footer h2 {
        font-size: 4.8rem;
    }
}

@media (min-width: 1440px) {
    .info-header {
        padding: 2.5rem;
        height: 9.6rem;
    }

    .hero-text {
        width: 55rem;
        margin-top: 9.6rem;
    }
}